.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: chartreuse;
    height: 85px;
}

.nav-items-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 36%;
}

@media screen and (max-width: 1200px) {
    .nav-items-container {
        width: 60%;
    }
}

.nav-logo-container {
    padding-left: 36px;
}

@media screen and (max-width: 767px) {
    .nav-logo-container {
        padding-left: 10px;
    }
}

.nav-item-link {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: bold;
    color: rgb(72, 4, 4);
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .nav-item-link {
        font-size: 12px;
    }
}

.logo-item {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: rgb(26, 1, 1);
}

@media screen and (max-width: 767px) {
    .logo-item {
        font-size: 24px;
    }
}

.logout-btn {
    background-color: black;
    color: chartreuse;
    font-weight: 500;
    border: none;
    font-family: "Roboto";
    font-size: 14px;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-top: 4px;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .logout-btn {
        font-weight: 400;
        font-size: 8px;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 4px;
        padding-top: 4px;
    }
}